body{
    font-family;: 'Fira Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
h1{
    font-size:50px;
}
.purple-color{ 
    color: blueviolet;

}.red{
    color:rgb(230, 92, 115);
}
.blue{
    color:rgb(187, 27, 147);
}
section{
    display:flex;
}
.half{
    width: 50%;
    padding-left: 6%;
}
.half img{
    width: 85%;
}
.button{
    text-decoration: none;
    background-color: rgb(177, 111, 177);
    padding:10px 20px;
    border-radius: 9px;

    font-weight: 700;
    color:rgb(156, 236, 7);
    font-weight: 400%;
}

.go{
    background-image: url(3.jpg);
}
.bye{
    background-image: url(3.jpg);
    border:violet;
}
.you{
    color: violet;
}
.hi{
    width: 50%;
    padding-right: 4%;
    
}.hi img{
    width: 80%;
    padding-left: 10%;
}.see{
    background-color: violet;
    border-radius: 10%;
    text-decoration: none;
    padding: 10px 20px;
}
.no{
    color:rgb(204, 124, 204);
}.oi{
    color: rgb(73, 64, 196);
}
.flexble-containar{
    
    margin-bottom: 100px;
}.hal{
width: 75%;
 padding-right: 50px;
 padding: 50px;
 padding-left: 6%;
 border-radius: 4%;
 box-shadow: violet 20000%;
 
 
 
 
 background-image: url(3.jpg);

}